{% extends 'baseAdmin.html.twig' %}

{% block title %}Administrateur Niche à Toupie
{% endblock %}



    {% block body %}
        <h1>Tableau de bord</h1>
        <p>Bienvenue dans ton espace admin</p>
    {% endblock %}

