
/* polices google fonts */
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');


/* css général */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Fredoka", sans-serif, "Nunito", sans-serif;
    background-color: #f7f7f7;
}

main {
    flex: 1;
}

h1 {
    text-align: center;
    font-family: "Fredoka", sans-serif;
    margin: 3rem;
    color: #114232;
    font-weight: bold;
}

h2,
h3 {
    font-family: "Fredoka", sans-serif;
    margin-bottom: 3rem;
    margin-top: 3rem;
    color: #114232;
    font-weight: bold;
    text-align: center;
}

p {
    font-family: "Nunito", sans-serif;
    line-height: 1.7;
    font-size: 1.2rem;
}

hr {
    border: 3px solid #114232;
}

footer {
    margin-top: auto;
}

/*  css pour le header */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: linear-gradient(
        to right,
        #87a922 0%,
        #5e7618 35%,
        #4a5d13 63%,
        #fcdc2a 100%
    );
}

.li-none {
    list-style: none;
    padding: 0;
}

.logo {
    display: flex;
    align-items: center;
    height: auto;
    width: 100px;
}
.logo img {
    width: 100%;
    height: auto;
}

.navbar .nav-items {
    display: flex;
    gap: 2rem;
    list-style: none;
    margin-bottom: 0;
}

.navbar .nav-items a {
    color: #f7f6bb;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.2s ease;
    font-weight: bold;
    font-family: "Nunito", sans-serif;
}

.navbar .nav-items a:hover {
    display: inline-block; /* nécessaire pour appliquer transform */
    color: #fcdc2a;
    transform: scale(1.5);
}

span.hello {
    margin-right: 0.5rem;
    color: #f7f6bb;
    font-weight: bold;
}

.navbar .btn-login {
    background-color: #114232;
    color: #f7f6bb;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
    text-decoration: none;
    font-family: "Nunito", sans-serif;
}

.navbar .btn-login:hover {
    background-color: #87a922;
    color: #114232;
}

/* css menu first    */
.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.burger span {
    width: 25px;
    height: 3px;
    background-color: #114232;
}

/* Par défaut : menu mobile caché */
.mobile-menu {
    display: none;
}

/* css pour le footer */

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(
        to right,
        #87a922 0%,
        #5e7618 35%,
        #4a5d13 63%,
        #fcdc2a 100%
    );
    padding: 1rem;
    color: #f7f6bb;
    width: 100%;
    box-sizing: border-box; /* évite les débordements */
    margin-top: 40px;
}

.footer-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 2000px;
    margin: 0 auto;
    gap: 30px;
    padding: 0 1rem;
    box-sizing: border-box;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap; /* permet de passer en colonne sur mobile */
    gap: 30px;
    width: 100%;
}

.footer-logo img {
    max-width: 150px;
    height: auto;
}

.footer-coordonnees {
    flex: 1;
    min-width: 250px;
    text-align: left;
    font-size: 1rem;
}

.footer-links {
    flex: 1;
    min-width: 200px;
    text-align: right;
    
}

.footer-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #114232;
  
}

.footer-links li a {
    margin: 0.4rem 0;
    color: #114232;
    font-size: 1.2rem;
    
}

.footer-links li a:hover {
    display: inline-block; /* nécessaire pour appliquer transform */
    transform: scale(1.2);
    color: #f7f6bb;
}

footer p {
    margin: 0.5rem 0;
}

footer a {
    color: #f7f6bb;
    text-decoration: none;
    transition: all 0.3s ease;
}

footer a:hover {
    color: #114232;
    transform: scale(1.2);
    cursor: pointer;
}

.footer-content a:hover {
    color: #fcdc2a;
    transform: scale(1.2);
}

.container-socials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    gap: 10px;
}
.footer-social {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #f7f6bb;
}

.footer-logosocial a img {
    width: 28px;
    height: 28px;
    transition: transform 0.3s;
}

.footer-logosocial a img:hover {
    transform: scale(1.2);
}

/* css page d'accueil */
#about {
    max-width: 1300px;
    margin: 40px auto;
    padding: 0 1rem;
}



.box {
    background-color: rgba(135, 169, 34, 0.2);
    padding: 1.5rem;
    border-radius: 10px;
    /* padding: 10px; */
    margin: 40px auto;
    max-width: 100%;
    line-height: 1.6;
    justify-content: center;
}

.box p ,.box2 p{
    margin: 1.5rem;
    font-family: "Nunito", sans-serif;
   

}

.infos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    flex-wrap: wrap;
    margin-top: 4rem;
    
}

.infos img {
    width: 400px;
    max-width: 100%;
    margin: 10px auto;
    height: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 8px rgba(17, 66, 50, 0.6); /* horizontal/vertical/ grandeurflou/opacity couleur */
    flex-shrink: 0; /* empêche l’image de se réduire trop */
    

    
}

.box2 {
    background-color: #f7f6bb;
    padding: 1.5rem;
    border-radius: 10px;
    padding: 10px;
    width: 500px;
    max-width: 90%;
    margin: 20px auto;
    margin-bottom: 40px;
    line-height: 1.5;
    flex: 1; /* prend une part egale de l'espace dispo */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.box2 p {
    margin: 1rem 1.2rem;

   
}

.btn-contact {
    background-color: #87a922;
    padding: 0.8rem 0.8rem;
    border: none;
    border-radius: 20px;
    color: #114232;
    font-size: 1rem;    
    transition: background 0.4s ease-in-out;
    font-weight: bold;
    margin: 1rem 1.2rem;
    text-align: center;
    font-family: "Nunito", sans-serif;
    text-decoration: none;    
}

.btn-contact:hover {
    background-color: #114232;
    color: #f7f6bb;
}

.btn-about {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

h4 {
    text-align: center;
    font-weight: bold;
    margin: 1rem 0;
    color: #114232;
    font-family: "Fredoka", sans-serif;
}


/* section horaires */
#horaires {
    margin: 40px auto;
}

  
.paragraph-horaires {
    text-align: left;
    margin: 30px 20px;
    font-family: "Nunito", sans-serif;
    font-size: 1.2rem;
}

.btn-horaire {
    text-align: center;
    /* margin: 30px 20px; */
    font-family: "Nunito", sans-serif;
    font-size: 1.2rem;
    width: 70%;
    margin: auto auto;

}

.box3 {
    display: flex;
    margin-bottom: 1rem;
    width: 100%;
    
}

.box3 p {
    margin: 0.5rem 0;
    text-align: left;
}

/* messages flash */
.flash-success,
.flash-error,
.flash-info {
    padding: 12px 20px;
    margin: 15px auto;
    border-radius: 8px;
    font-weight: bold;
    color: #fff;
    max-width: 400px;
}

.flash-success {
    background-color: #d4edda;
    color: #155724;
}

.flash-error {
    background-color: #f8d7da;
    color: #721c24;
}

.flash-info {
    background-color: #cce5ff;
    color: #004085;
}

/* mes reservations */
.reservations-list {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 1rem;
    box-sizing: border-box;
    background-color: rgba(135, 169, 34, 0.2);
    border-radius: 10px; 

    }
.reservations-list ul {
    list-style: disc;
    padding: 20px;
}
.reservations-list li {
    margin-bottom: 20px;
    font-family: "Nunito", sans-serif;
    font-size: 1.1rem;
    line-height: 1.5;
    border-bottom: 1px solid #114232;
    padding-bottom: 15px;
}

.reservations-list li:last-child{
    margin-bottom: 40px;
    border-bottom: none;
}    

.reservation-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reservation-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.btn-cancel{
    background-color: #d9534f;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
    font-family: "Nunito", sans-serif;
    font-size: 0.9rem;
    margin-left: 10px;
    text-decoration: none ;
}


/* Responsive */
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
    }

    .footer-links {
        text-align: center;
    }
    .footer-links li a {
        color: #f7f6bb;
    }

    .footer-logosocial a img {
        font-size: 1.4rem; /* icônes un peu plus petites sur mobile  1rem=10px*/
    }
}

@media (max-width: 768px) {
    .navbar .nav-items,
    .navbar .btn-login {
        display: none;
    }

    .burger {
        display: flex;
    }

    .mobile-menu {
        display: none;
        flex-direction: column;
        background: linear-gradient(
            to right,
            #87a922 0%,
            #5e7618 35%,
            #4a5d13 63%,
            #fcdc2a 100%
        );
        padding: 1rem 2rem;
        align-items: center;
    }

  
    .mobile-menu a,
    .mobile-menu button {
        margin: 0.5rem 0;
        color: #f7f6bb;
        text-align: left;
        text-decoration: none;
    }

    .mobile-menu button {
        background-color: #114232;
        border: none;
        padding: 0.5rem;
        border-radius: 5px;
        font-weight: bold;
    }

    .mobile-menu.show {
        display: flex;
    }
}

@media (max-width: 375px) {
    .navbar {
        padding: 1rem;
    }
    .logo {
        width: 80px;
    }
    .burger span {
        width: 20px;
        height: 2px;
    }
}

/* responsive accueil */
@media (max-width: 768px) {
    .infos {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .box2 {
        width: 100%;
    }

    .box2 p {
        margin: 1rem 0.5rem;
        text-align: left;
    }

    .box3 {
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .reservation-actions {
        justify-content: center;
        margin-top: 10px;
        
    }
}