<footer>
    <div class="footer-container">
        <div class="footer-content">
            <div class="footer-logo">
                <img src="{{ asset('images/logo_niche.webp') }}" alt="Logo La Niche à Toupie" width="150" height="150">
            </div>

            <div class="footer-coordonnees">
                <p><strong>La Niche à Toupie</strong></p>
                <p>Adresse : 2 rue de la plaine 43390 AUZON</p>
                <p>Téléphone : 06 70 82 18 01</p>
                <p>Email : <a href="mailto:lanicheatoupie@gmail.com">lanicheatoupie@gmail.com</a></p>
            </div>

            <div class="footer-links">
                <ul>
                    <li>Liens utiles</li>
                    <li><a href="https://www.naturedog.fr/store/nature-dog-63" target="_blank">NatureDog</a></li>
                    <li><a href="https://libertameaunaturel.wordpress.com/" target="_blank">Communication Animale</a></li>
                    <li><a href="" target="_blank">Art Thérapie</a></li>
                    <li><a href="" target="_blank">Mentions Légales</a></li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="container-socials">
           
            <div class="footer-social">
                <p>Titulaire acaced.</p>
                <p>SIRET : 423 198 316 000 30</p>
                
                 <div class="footer-logosocial">
                 <p>&copy; {{ "now"|date("Y") }} . La Niche à Toupie. Tous droits réservés.</p>
                <p>Suivez-nous :</p>
                    <a href="https://www.facebook.com/emmanuellefaug/?locale=fr_FR" target="_blank" >
                        <img src="{{ asset('images/facebook.svg') }}" alt="Facebook" width="24" height="24">
       
                    </a> 
                    <a href="https://www.instagram.com/la_niche_a_toupie_63/" target="_blank" class="text-light mx-3">
                        <img src="{{ asset('images/instagram.svg') }}" alt="Instagram" width="24" height="24">
                    </a>
                </div>
            </div>

        </div>
    </div>
</footer>