<div class="navlinks">
	<ul class="nav-items li-none">

		<li>
			<a href="{{ path('app_home') }}">Accueil</a>
		</li>
		<li>
			<a href="#horaires">Horaires</a>
		</li>
		<li>
			<a href="{{ path('app_service') }}">Services</a>
		</li>
		<li>
			<a href="{{ path('contact_create') }}">Contact</a>
		</li>
		{% if app.user %}
			<li>
				<a href="{{ path('index_list_reservation') }}">Mes réservations</a>
			</li>
		{% endif %}
	</ul>
</div>
