<div class="navlinks">
	<ul class="nav-items li-none">

		<li>
			<a href="{{ path('app_home') }}">Accueil</a>
		</li>
		<li>
			<a href="#horaires">Horaire</a>
		</li>
		<li>
			<a href="{{ path('app_service') }}">Service</a>
		</li>
		<li>
			<a href="">Contact</a>
		</li>
	</ul>
</div>
